<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.road.to.effective.snapshot.testing">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadToEffectiveSnapshotTesting">
        <activity
            android:name=".recyclerviewscreen.mvvm.RecyclerViewActivity">
        </activity>
        <activity
            android:name=".compose.CoffeeDrinkComposeActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        </activity>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>